<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyView</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyView.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @Html.Partial("_Navbar")
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-light bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="fw-bold text-uppercase pt-3">Giới thiệu</h5>
                    <p class="text-wrap lh-sm">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Debitis ab suscipit deserunt mollitia reiciendis,
                        nobis iure aliquam velit et laboriosam ducimus veritatis corporis est,
                        dolores aperiam! Officiis impedit provident laboriosam.
                    </p>
                </div>

                <div class="col-md-6">
                    <h5 class="fw-bold text-uppercase pt-3">Liên hệ</h5>
                    <p class="text-wrap lh-sm">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Odit amet suscipit quasi quisquam impedit magni molestias.
                        Dolores, aliquid commodi ut esse eos voluptatem nisi facilis dolorem,
                        repudiandae culpa ea quidem.
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
