<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-secondary border-bottom mb-3 p-0">
    <div class="container-fluid">
        <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">DemoView</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item pt-1 pb-1 bg-black">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                </li>
                <li class="nav-item pt-1 pb-1 ">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Giới thiệu</a>
                </li>
                <li class="nav-item pt-1 pb-1 ">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Liên hệ</a>
                </li>
                <li class="nav-item pt-1 pb-1 ">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Sản phẩm</a>
                </li>
            </ul>
        </div>
    </div>
</nav>